<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-2">

      <h1>Sign Up</h1>

      <%= form_for @seeker, :html => { :multipart => true }  do |f| %>

      <% if @seeker.errors.any? %>
       <div>
         <h4 class="text-danger"><%= pluralize(@seeker.errors.count, "error") %>prevented you from signing up!</h4>
        <ul class="list-group">
        <% @seeker.errors.full_messages.each do |msg|%>
        <li class="list-group-item list-group-item-danger">
          <%= msg.downcase %>
        </li>
        <% end %>
        </ul>        
       </div>
       <% end %>
      
       <div class="form-group">
          <%= f.label :avatar %>
          <%= f.file_field :avatar, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <%= f.submit "Sign up!", class: "btn btn-primary" %>
        
      <% end %>
    </div>
  </div>
</div>


<%= form_for @user, :url => users_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
<% end %>

