<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-2">

	<h1>Job Prospect</h1>


	<h1>RESUME</h1>


	<p><strong>Name: </strong><%= @seeker.first_name %> <%= @seeker.last_name %></p>
	<p><strong>Looking for: </strong><%= @seeker.job_type  %></p>
	<p><strong>Skill set: </strong><%= @seeker.skill_set  %></p>
	<p><strong>Education level: </strong><%= @seeker.edu_level  %></p>
	<p><strong>Work experience: </strong><%= @seeker.work_exp  %></p>
	<p><strong>Date available: </strong><%= @seeker.date_available  %></p> 
	<p><strong>Profile_pic </strong></p>

	</div>
  </div>
</div>
 