<div class="ui form">
	<%= form_for @job do |f| %>

<!-- dropdown -->
	<div class="field">
		<%= f.label "Job Type" %>
		<%= f.select :job_type, options_for_select([["education"], ["office"], ["customer service"], ["skill trade"], ["general labor"], ["other"]]) %>
	</div>
	
<!-- form input -->

 	<div class="field">
	 	<%= f.label "Job Title" %>
	 	<%= f.text_field :title %>
	 </div>

	 <div class="field">
	 	<%= f.label "Salary" %>
	 	<%= f.text_field :salary %>
	 </div>

	 <div class="field">
	 	<%= f.label "Skill Requirements" %>
	 	<%= f.text_field :skill %>
	 </div>

	 <div class="field">
	 	<%= f.label "Location" %>
	 	<%= f.text_field :location %>
	 </div>


	 <%= f.submit "Post Job", class: "ui button" %>
	

 <% end %>
 </div>
 
