<!DOCTYPE html>
<html>
<head>
  <title>ProjectThree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://d3js.org/d3.v3.min.js"></script>

</head>
<body>

<!----------------------------- LOGO  ---------------------->
<div class="ui leaderboard test ad" data-text="Leaderboard">
  <h1 class="ui header">Lindker</h1>
  <%= image_tag("trex.png") %>
</div>
<!----------------------------- LOGIN  ---------------------->
  <% if logged_in? %>
    <div>
      Logged in as: <%= current_user.first_name %> | 
     <%= link_to 'Log Out', logout_path, method: :delete %>
     
		</div>
    <% if current_user.employer? %>
    <div class="ui inverted menu navbar">
      <a href="" class="item">Add Job</a>
      <!-- <a href="" class="item">Browse Job</a> -->
        <div class="right menu">
          <a class="ui dropdown item">Profile
          <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">Matched</div>
              <div class="item">Settings</div>
            </div>
          </a>
        </div>
      </div>

      <% else %>
    <div class="ui inverted menu navbar">
      <!-- <a href="" class="item">Add Job</a> -->
      <a href="" class="item">Browse Job</a>
        <div class="right menu">
          <a class="ui dropdown item">Profile
          <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">Matched</div>
              <div class="item">Settings</div>
            </div>
          </a>
        </div>
      </div>
      <% end %>

    <% end %>
  



    <div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-2">

      <%= yield %>


  </div>
  </div>
</div>
 


  <script>
    $('.ui.dropdown')
    .dropdown();
  </script>
</body>
</html>
